
	<section id="blog" class="md-padding" style="margin:10px 0px 0px 0px;">
		<div class="container">
			<br>
			<br>
			<br>
			<br>
			<div class="row">
				<main id="main" class="col-md-8">
					<div class="row">
						{{#each news}}
						<div class="col-md-6">
							<div class="blog">
								<div class="blog-img">
                                <img src="{{limitation news_images}}" class="img-fluid" id="newsImage">
								</div>
								<div class="blog-content">
									{{!--<ul class="blog-meta">
										<li><i class="fas fa-users"></i><span class="writer">{{author.username}}</span></li>
										<li><i class="fas fa-clock"></i><span class="writer">{{generateDate date "MMM DD YYYY"}}</span></li>
										
									</ul>--}}
									<h3>{{title}}</h3>
									<p>{{truncate content 120}}</p>
									<a href="/news/{{_id}}">Detay için Tıklayın</a>
								</div>
							</div>
						</div>
						{{/each}}
                        <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

	  {{#paginate current=current pages=pages}}
	  {{/paginate}}

  </ul>
</nav>
					</div>
				</main>
				
					<!-- /Search -->
                    
                    
					{{> news-sidebar}}
					<!-- /Category -->

					<!-- Posts sidebar -->
					
				
				
				
			</div>

		</div>
	</section>

    